<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Adicionar Produto</h1>

<form method="POST">
    Nome: <input type="text" name="nome"><br>
    Quantidade: <input type="number" name="quantidade"><br>
    Mínimo: <input type="number" name="minimo"><br><br>
    <button type="submit">Salvar</button>
</form>

<br>
<a href="/">Voltar</a>

</body>
</html>

<h1>Adicionar Produto</h1>

<form method="POST">
    Nome: <input type="text" name="nome"><br>
    Quantidade: <input type="number" name="quantidade"><br>
    Mínimo: <input type="number" name="minimo"><br>
    <button type="submit">Salvar</button>
</form>

<a href="/">Voltar</a>
