<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
     <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#4CAF50">
</head>
<body>

<h1>Sistema de Estoque</h1>

<a href="/produtos">Ver Produtos</a><br><br>
<a href="/add">Adicionar Produto</a>
<script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/static/sw.js')
    .then(function() {
      console.log("Service Worker registrado");
    });
}
</script>

</body>

<br><br>
<a href="/logout">Sair</a>

<link rel="manifest" href="/static/manifest.json">
